@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inconsolata";
  src: url("../../public/assets/fonts/Inconsolata-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-style: normal;
}

body {
  font-family: "Inconsolata";
}
input[type="file"]::-webkit-file-upload-button {
  position: absolute;
  inset: 0;
  opacity: 0;
  z-index: 20;
}
.gradient-text {
  background: linear-gradient(to right, hsl(7, 86%, 67%), hsl(0, 0%, 100%));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
